<?php
return [
    'backend' => [
        'frontName' => 'admin'
    ],
    'crypt' => [
        'key' => 'cfb3294162dd42b68204503d14d20fc1'
    ],
    'db' => [
        'table_prefix' => '',
        'connection' => [
            'default' => [
                'host' => $_ENV['MYSQL_HOST'],
                'dbname' => $_ENV['MYSQL_DATABASE'],
                'username' => $_ENV['MYSQL_USERNAME'],
                'password' => $_ENV['MYSQL_PASSWORD'],
                'model' => 'mysql4',
                'engine' => 'innodb',
                'initStatements' => 'SET NAMES utf8;',
                'active' => '1',
                'driver_options' => [
                    1014 => false
                ]
            ]
        ]
    ],
    'resource' => [
        'default_setup' => [
            'connection' => 'default'
        ]
    ],
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => $_ENV['MAGENTO_MODE'],
    'session' => [
        'save' => 'redis',
        'redis' => [
            'host' => $_ENV['REDIS_HOST'],
            'port' => $_ENV['REDIS_PORT'],
            'password' => $_ENV['REDIS_PASSWORD'],
            'timeout' => '2.5',
            'persistent_identifier' => '',
            'database' => $_ENV['REDIS_SESSION_CACHE_DATABASE'],
            'compression_threshold' => '2048',
            'compression_library' => 'gzip',
            'log_level' => '1',
            'max_concurrency' => '24',
            'break_after_frontend' => '5',
            'break_after_adminhtml' => '30',
            'first_lifetime' => '600',
            'bot_first_lifetime' => '60',
            'bot_lifetime' => '7200',
            'disable_locking' => '0',
            'min_lifetime' => '60',
            'max_lifetime' => '2592000',
            'sentinel_master' => '',
            'sentinel_servers' => '',
            'sentinel_connect_retries' => '5',
            'sentinel_verify_master' => '0'
        ]
    ],
    'cache' => [
        'frontend' => [
            'default' => [
                'id_prefix' => '8d7_',
                'backend' => 'Cm_Cache_Backend_Redis',
                'backend_options' => [
                    'server' => $_ENV['REDIS_HOST'],
                    'database' => $_ENV['REDIS_FRONTEND_CACHE_DATABASE'],
                    'port' => $_ENV['REDIS_PORT'],
                    'password' => '',
                    'compress_data' => '1',
                    'compression_lib' => ''
                ]
            ],
            'page_cache' => [
                'id_prefix' => '8d7_',
                'backend' => 'Cm_Cache_Backend_Redis',
                'backend_options' => [
                    'server' => $_ENV['REDIS_HOST'],
                    'database' => $_ENV['REDIS_PAGE_CACHE_DATABASE'],
                    'port' => $_ENV['REDIS_PORT'],
                    'password' => '',
                    'compress_data' => '0',
                    'compression_lib' => ''
                ]
            ]
        ],
        'import' => [
            'server' => 'redis',
            'database' => '10',
            'port' => '6379',
            'compress_data' => '0'
        ]
    ],
    'lock' => [
        'provider' => 'db',
        'config' => [
            'prefix' => ''
        ]
    ],
    'cache_types' => [
        'config' => 1,
        'layout' => 1,
        'block_html' => 1,
        'collections' => 1,
        'reflection' => 1,
        'db_ddl' => 1,
        'compiled_config' => 1,
        'eav' => 1,
        'customer_notification' => 1,
        'config_integration' => 1,
        'config_integration_api' => 1,
        'full_page' => 1,
        'config_webservice' => 1,
        'translate' => 1,
        'vertex' => 1,
        'ec_cache' => 1,
        'google_product' => 1
    ],
    'install' => [
        'date' => 'Fri, 24 Apr 2020 09:58:25 +0000'
    ],
    'downloadable_domains' => [
        $_ENV['MAGENTO_DOMAIN'],
    ],
    'directories' => [
        'document_root_is_pub' => true
    ],
    'queue' => [
         'amqp' => [
                'host' => $_ENV['RABBITMQ_HOST'],
                'port' => $_ENV['RABBITMQ_PORT'],
                'user' => $_ENV['RABBITMQ_USER'],
                'password' => $_ENV['RABBITMQ_PASSWORD'],
                'virtualhost' => '/'
            ],
        'consumers_wait_for_messages' => 1
    ],
    'cron_consumers_runner' => [
        'cron_run' => true,
        'max_messages' => 2,
        'single_thread' => true,
        'consumers-wait-for-messages' => 0,
        'consumers' => [
            'product_action_attribute.update',
            'product_action_attribute.website.update',
            'exportProcessor',
            'inventory.source.items.cleanup',
            'inventory.mass.update',
            'inventory.reservations.cleanup',
            'inventory.reservations.update'
        ]
    ],
    'system' => [
        'default' => [
            'dev' => [
                'static' => [
                    'sign' => '0'
                ],
                'grid' => [
                    'async_indexing' => '0'
                ],
                'js' => [
                    'minify_files' => '0',
                    'merge_files' => '0',
                    'enable_js_bundling' => '0',
                    'move_script_to_bottom' => '0'
                ],
                'template' => [
                    'minify_html' => '0'
                ],
                'css' => [
                    'merge_css_files' => '0',
                    'minify_files' => '0',
                    'use_css_critical_path' => '0'
                ]
            ],
            'admin' => [
                'security' => [
                    'password_is_forced' => '0',
                    'password_lifetime' => '0'
                ]
            ],
            'web' => [
                'cookie' => [
                    'cookie_domain' => ''
                ]
            ]
        ]
    ]
];
